<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    {% include "navbar.html" %}

    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-md-7">
                <img src="{{ url_for('video_feed') }}" class="img-thumbnail w-100" />
            </div>
            <div class="col-md-5">
                <h3 class="text-secondary">Today Scan</h3>
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-hover shadow">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Person #</th>
                                <th scope="col">Name</th>
                                <th scope="col">Class</th>
                                <th scope="col">Added</th>
                            </tr>
                        </thead>
                        <tbody id="scandata">
                            <!-- Data loaded dynamically -->
                        </tbody>
                    </table>
                </div>
                <a href="/export_to_excel" class="btn btn-primary mt-2">Export to Excel</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            let lastCnt = 0;
            function checkNewScan() {
                $.ajax({
                    url: "/countTodayScan",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        if (data.rowcount > lastCnt) {
                            lastCnt = data.rowcount;
                            reloadData();
                        }
                    },
                    error: function () {
                        console.log("Error fetching scan count");
                    },
                });
                setTimeout(checkNewScan, 1000);
            }

            function reloadData() {
                $.ajax({
                    url: "/loadData",
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var tbody = $("#scandata");
                        tbody.empty();
                        $.each(response.response, function (index, item) {
                            tbody.append(`<tr><td>${item[1]}</td><td>${item[2]}</td><td>${item[3]}</td><td>${item[4]}</td></tr>`);
                        });
                    },
                    error: function () {
                        console.log("Error reloading data");
                    },
                });
            }

            checkNewScan();
        });
    </script>
</body>
</html>
