<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Replace with your actual head.html content -->
    <meta charset="UTF-8" />
    <title>Classroom Attendance System</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/css/indexcss.css" />
    <!--    <style>-->
    <!--    </style>-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            width="70"
            alt=""
            class="logo"
          />
          Classroom Attendance System
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/personnel_data">Personnel Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addprsn">Add Personnel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fr_page">Face Recognition</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-6 col-md-8 text-center">
            <h1>Welcome to the Classroom Attendance System</h1>
            <p>
              An innovative solution for managing classroom attendance through
              face recognition technology.
            </p>
            <a
              href="#features"
              class="btn btn-primary mt-4 custom-discover-more"
              >Discover More</a
            >
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="video-wrapper">
              <video controls autoplay muted loop class="hero-video">
                <source
                  src="https://lystloc-landing-page.s3.ap-south-1.amazonaws.com/images/lystface/lytface_banner.m4v"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
